<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
// we will diffrentiate between past and upcoming appointments according reporst existance
// all report will be sorted by date
// loop for all appointments
// button for show details of each appointment
// button for canceling the appointment
// button for showing the report of the appointment
// alert for write the report of the appointment
// <button> write report </button>//and onclick show textarea for writing the report and submit button to save the report
// <button> cancel </button>
// <button> show report </button>
<button> logout </button>
</body>
</html>